{%- comment -%}
Component: lib-image
Type: snippet-component

Props (snake_case with leading underscore). Use a default filter to mark required:
- _image_content: string (required)
- _aria_label: string (optional)
- _image_id: string (optional)

Description
- @description: A component for rendering an image.

Scope (theme contexts):
- @scope= all

Docs (inline prop descriptions):
- @prop _image: The image to display.
- @prop _alt_text: The alt text for the image.
- @prop _classes: Additional classes for the image styling.
- @prop _width: The width of the image.
-@prop _height: The height of the image.
{%- endcomment -%}

{% assign _image = _image | default: product.featured_image | image_url: width: _width, height: _height %}
{% assign _alt_text = _alt_text | default: product.title %}
{% assign _classes = _classes | default: 'w-full aspect-square object-cover rounded-md mb-2' %}
{% assign _width = _width | default: 250 %}
{% assign _height = _height | default: 250 %}

<div class="image-container {{ _classes }}" style="width: {{ _width }}px; height: {{ _height }}px;">
  {% if _image %}
    <img 
      class="w-full h-full object-cover block {{ _classes }}"
      src="{{ _image }}"
      width="{{ _width }}"
      height="{{ _height }}"
      alt="{{ _alt_text }}" />
  {% endif %}
</div>