{% comment %}
 Static Assets
{% endcomment %}
<link rel="stylesheet" href="{{ 'lib-button.css' | asset_url }}"/>
<script src="{{ 'lib-button.js' | asset_url }}" defer></script>

{% comment %}
 Component Props
{% endcomment %}
{% liquid
  assign class_name = 'iv-button'
  capture slot
    <span>{{ label }}</span>
  endcapture
%}

{%- comment -%}
  Component Markup
  This is provided by the library and should not be modified.
{%- endcomment -%}
<button id="test" class="{{ class_name }}">
  {{ slot }}
</button>